<html lang="en">
  <head>
    <script
      type="text/javascript"
      src="/homey.js"
      data-origin="settings"
    ></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <script src="../assets/vue.min.js"></script>
    <link rel="stylesheet" href="../assets/bulma.min.css" />
  </head>
  <body style="background: linear-gradient(135deg, #5541d6 0%,#3f94ff 100%);">
    <div id="ewelink" style="padding: 10px;">
      <div class="container">
        <div v-show="alert" id="alert" class="notification is-danger">
          Alert
        </div>
        <div
          v-if="page == 'login'"
          class="card equal-height"
          style="border-radius: 5px;"
        >
          <div class="card-content is-flex is-horizontal-center">
            <figure class="image is-64x64">
              <img src="../assets/logo.png" />
            </figure>
          </div>
          <div class="card-content columns">
            <div class="column  is-4">
              <input
                class="input"
                type="text"
                placeholder="Phone or email"
                v-model="login"
              />
            </div>
            <div class="column is-4">
              <input
                class="input"
                type="password"
                placeholder="Password"
                v-model="password"
              />
            </div>
            <div class="column is-4">
              <button
                type="button"
                style="background: linear-gradient(135deg, #5541d6 0%,#3f94ff 100%);"
                class="button is-primary is-fullwidth"
                @click="signin"
                :disabled="empty"
              >
                Sign in
              </button>
            </div>
          </div>
        </div>
        <div
          v-if="page == 'profile'"
          class="card equal-height"
          style="border-radius: 5px;"
        >
          <div class="card-content is-flex is-horizontal-center">
            <figure class="image is-64x64">
              <img src="../assets/logo.png" />
            </figure>
          </div>
          <div class="card-content columns">
            <div class="column  is-4">
              <label class="label">Hello</label>
              <input
                class="input is-static"
                type="text"
                :value="login"
                readonly
              />
            </div>
            <div class="column  is-4">
              <label class="label">Connected devices</label>
              <input
                class="input is-static"
                type="number"
                :value="deviceCount"
                readonly
              />
            </div>
            <div class="column is-4">
              <button
                type="button"
                style="background: linear-gradient(135deg, #5541d6 0%,#3f94ff 100%);"
                class="button is-primary is-fullwidth"
                @click="logout"
              >
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function onHomeyReady(Homey) {
        Homey.ready();
        new Vue({
          el: "#ewelink",
          data() {
            return {
              login: null,
              password: null,
              alert: false,
              page: "login",
              deviceCount: 0
            };
          },
          mounted() {
            Homey.get("account", (err, user) => {
              let alert = document.getElementById("alert");
              if (err) {
                alert.innerText = err;
                this.alert = true;
                return Homey.alert(err);
              }
              this.login = user.login;
              this.password = user.password;

              Homey.api("POST", "/getDevices", user, (error, result) => {
                if (result.status == "error") {
                  this.alert = true;
                  alert.innerHTML = result.msg;
                  return;
                }
                this.page = "profile";
                this.deviceCount = result.length;
              });
            });
          },
          methods: {
            signin() {
              let alert = document.getElementById("alert");
              let signData = {
                login: this.login,
                password: this.password
              };

              Homey.api("POST", "/getDevices", signData, (error, result) => {
                if (result.status == "error") {
                  this.alert = true;
                  alert.innerHTML = result.msg;

                  setTimeout(() => {
                    this.alert = false;
                    alert.classList.remove("is-success");
                    alert.classList.add("is-danger");
                  }, 2000);
                  return;
                }

                this.page = "profile";
                this.deviceCount = result.length;

                Homey.set("account", signData, error => {
                  if (error) {
                    alert.innerText = error;
                    return Homey.alert(error);
                  }
                  alert.classList.remove("is-danger");
                  alert.classList.add("is-success");
                  alert.innerText = "Saved";
                });
              });
            },
            logout() {
              let alert = document.getElementById("alert");
              this.page = "login";
              this.deviceCount = 0;
              this.password = null;

              Homey.unset("account", err => {
                if (err) {
                  alert.innerText = err;
                  return Homey.alert(err);
                }
                alert.classList.remove("is-danger");
                alert.classList.add("is-success");
                alert.innerText = "logout successfully";
              });
            }
          },
          computed: {
            empty() {
              if (
                this.login != null &&
                this.login != "" &&
                this.password != null &&
                this.password != ""
              ) {
                return false;
              } else return true;
            }
          }
        });
      }
    </script>
  </body>
</html>

<style>
  .is-horizontal-center {
    justify-content: center;
  }
</style>
